theme = "default"

# Time in milliseconds to wait for a key sequence to complete (neovim default: 1000)
timeoutlen = 1000

[keybindings.navigate]
# Navigation
"k" = "move_up"
"j" = "move_down"
"<Up>" = "move_up"
"<Down>" = "move_down"

# Visual mode (selection)
"v" = "toggle_visual"

# State changes
"x" = "toggle_state"
"<Space>" = "cycle_state"

# Item manipulation
"dd" = "delete"
"n" = "new_item"
"<Enter>" = "new_item_same_level"

# Editing
"i" = "enter_edit_mode"

# Indentation (single item)
"<Tab>" = "indent"
"<BackTab>" = "outdent"

# Indentation with children
"<S-A-Right>" = "indent_with_children"
"<S-A-Left>" = "outdent_with_children"

# Move items with children
"<S-A-Up>" = "move_item_up"
"<S-A-Down>" = "move_item_down"

# Collapse/expand
"c" = "toggle_collapse"
"<Right>" = "expand"
"l" = "expand"
"<Left>" = "collapse_or_parent"
"h" = "collapse_or_parent"

# Undo
"u" = "undo"

# UI
"?" = "toggle_help"
"<Esc>" = "close_help"
"q" = "quit"

# Day navigation
"<" = "prev_day"
">" = "next_day"
"T" = "go_to_today"

[keybindings.edit]
"<Esc>" = "edit_cancel"
"<Enter>" = "edit_confirm"
"<BS>" = "edit_backspace"
"<Left>" = "edit_left"
"<Right>" = "edit_right"
"<Home>" = "edit_home"
"<End>" = "edit_end"
"<Tab>" = "edit_indent"
"<BackTab>" = "edit_outdent"

[keybindings.visual]
"k" = "move_up"
"j" = "move_down"
"<Up>" = "move_up"
"<Down>" = "move_down"
"<Tab>" = "indent"
"<BackTab>" = "outdent"
"u" = "undo"
"v" = "exit_visual"
"<Esc>" = "exit_visual"
"q" = "exit_visual"
